config gatygo 'main'
	option enabled '0'
	option sub_url ''
	option user_agent ''
	option hwid ''
	option send_hwid '1'
	option profile ''
	option update_interval ''
	option tproxy_port '12345'
	option dns_port '5353'
	option mark '0xff'
	option ipv6_block '1'
	option lan_ifaces ''
	option direct_dns ''
	option loglevel 'warning'
